body {
  background-color: #e5e5e5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.picture_container {
  display: grid;
  justify-items: center;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 90px;
  padding-top: 20px;
}

.info_container {
  display: flex;
  flex-direction: column;
  margin: 18px;
  margin-top: 0%;
}

.title {
  font-size: 33px;
  margin-top: 12px;
  margin-bottom: 1px;
}

.content {
  font-size: 15px;
  line-height: 25px;
  color: #344563;
  margin-top: auto;
}

.tonic_1 h1 {
  justify-self: start;
  padding: 1px;
}

nav ul {
  display: flex;
  gap: 8px;
  padding-left: 0%;
  margin-top: 0%;
}

nav li {
  display: flex;
  align-items: flex-start;
}

.about_myself {
    background: url(./assets/img-block1/base.png) no-repeat
}