body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(./assets/backgrounds/header-background-mobile.png);
  background-color: #e5e5e5;
  flex-direction: column;
  position: absolute;
  width: 375px;
  height: 718px;
  margin: 24, 206, 24, 362;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.logo {
  color: #6070ff;
  font-size: 22px;
}

.menu_icon {
  position: absolute;
  right: 10px;
}

.headline {
  display: flex;
  flex-direction: column;
  background: url(./assets/backgrounds/header-shapes\ mobile.png);
}

.title {
  font-size: 45px;
  width: 327px;
  height: 150px;
}

.headline_content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  margin-top: auto;
}

.lets {
  color: #6070ff;
  font-size: 18px;
}

.social_icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0%;
  gap: 16px;
  width: 117px;
  height: 24px;
}
